.arrow-up {
  height: 40px;
  padding-bottom: 2rem;

  &:hover {
    @include opacity;
  }
}

footer {
  background-color: $color-logo;
  color: $color-section;
  padding: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px;
  padding-bottom: 16px;
  text-align: center;
  @media screen and (max-width: $tel) {
    grid-template-columns: 1fr;
    grid-template-rows: 350px 350px 350px;
    gap: 32px;
  }

  &__heading {
    color: $color-section;
    font-size: 2rem;
  }

  &__name {
    color: $color-section;
  }

  &__logo {
    width: 240px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: $color-section;

    &:hover {
      color: $color-background;
    }
  }

  &__social--image {
    width: 64px;

    &:hover {
      @include opacity;
    }
  }

  &__image {
    height: 250px;
  }

  &--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  &__copyright {
    font-size: 0.8rem;
  }
}
