.nav {
  background-color: $color-section;
  width: 100%;
  height: 100px;
  border-top: 3px solid $color-logo;
  border-bottom: 3px solid $color-logo;

  &__img {
    display: block;
    height: 100px;
    object-fit: cover;
    margin-right: 40px;
  }

  &__img:hover {
    @include opacity;
  }

  &__list {
    display: flex;
    list-style: none;
    text-align: center;

    &--item {
      position: relative;
      font-size: 1.5rem;
      margin: 40px;
      color: $color-logo;

      &:hover:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background-color: $color-logo;
      }

      &.language {
        position: relative;

        &:hover:after {
          display: none;
        }
      }
    }

    &--link {
      color: $color-logo;
    }

    &--item:hover .language__list {
      display: block;
    }
  }
}

.language__list {
  position: absolute;
  list-style: none;
  text-align: left;
  background-color: $color-section;
  display: none;
  border: solid 1px $color-logo;
  border-left: solid 3px $color-logo;

  &--item {
    text-transform: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background-color: $color-logo;

      & .language__list--link {
        color: $color-section;
      }
    }
  }

  &--flag {
    height: 1.5rem;
    margin-left: 4px;
  }

  &--link {
    display: block;
    margin: 10px 10px;
    color: $color-logo;
    font-size: 1.1rem;
  }
}
