.header {
  &__logo {
    display: none;
  }
}

.toggle {
  display: none;
}

.nav {
  background-color: $color-section;
  height: 100px;
  border-top: solid 3px $color-logo;
  border-bottom: solid 3px $color-logo;

  &__img {
    display: block;
    max-height: 100px;
    margin-left: 32px;

    &:hover {
      @include opacity;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--item {
      position: relative;

      &:hover:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background-color: $color-logo;
      }
    }

    &--link {
      display: block;
      color: $color-logo;
      font-size: 1.5rem;
    }
  }
}

.language {
  &__list {
    display: flex;

    &--link {
      display: flex;
      align-items: center;
      margin: 0 0.5rem;
      position: relative;

      &:hover {
        @include opacity;
      }

      &:hover:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background-color: $color-logo;
      }
    }

    &--flag {
      height: 2rem;
    }
  }
}

@media all and (max-width: $responsive) {
  .header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-section;
    padding: 0 2rem;
    box-sizing: border-box;

    &__logo {
      position: relative;
      display: block;
      max-height: 8vh;
      z-index: 20;
    }
  }

  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .nav {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-section;
    transform: translateX(-100%);
    transition: transform 1s;

    &__img {
      display: none;
    }

    &__list {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;

      &--item {
        margin: 30px;
      }

      &--link {
        font-size: 2rem;
      }
    }
  }

  .language {
    &__list {
      margin: 32px;

      &--link {
        margin: 0 1rem;
      }

      &--flag {
        height: 3rem;
      }
    }
  }

  .ouvrir {
    display: block;
  }

  #fermer {
    display: none;
  }

  .open .ouvrir {
    display: none;
  }

  .open #fermer {
    display: block;
  }

  .open .nav {
    transform: translateX(0);
  }
}
