* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-background;
}

main {
  width: 80%;
  margin: auto;
}

section {
  margin-bottom: 32px;
  background-color: $color-section;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 24px;
  color: $color-logo;
}

h1 {
  padding: 24px;
}

h2 {
  padding: 24px;
}

h3 {
  padding: 16px;
}

p {
  font-family: "Ink Free", sans-serif;
}
