* {
  margin: 0;
  padding: 0;
  // @include border;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-background;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: $color-text;
}

main {
  width: 80%;
  margin: auto;
}

section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: $color-section;
  border-top: solid 8px $color-logo;
}

h1,
h2,
h3 {
  text-align: center;
  padding-bottom: 1.5rem;
  color: $color-logo;
  font-family: "Nova Round", sans-serif;
}

h1 {
  font-size: 2rem;
  padding: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.325rem;
}

p {
  line-height: 1.5rem;
}
