.informations {
  display: flex;
  flex-direction: row;
  gap: 32px;
  @media screen and (max-width: $tel) {
    flex-direction: column;
  }
}

.presentation {
  width: 80%;

  &__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    @media screen and (max-width: $tel) {
      flex-direction: column;
    }
  }

  &__blockimg {
    margin: auto;

    &--image {
      max-height: 450px;
      box-shadow: 6px 6px 6px $color-logo;
      @media screen and (max-width: $tel) {
        max-height: 250px;
        margin-bottom: 32px;
      }
    }
  }

  &__text {
    text-align: justify;
    margin-left: 32px;
    @media screen and (max-width: $tel) {
      margin-left: 0;
    }
  }
}

.schedule {
  background-color: $color-section;
  padding-top: 1rem;

  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > p {
      line-height: 2rem;
    }

    &--later {
      color: $color-logo;
    }
  }
}

.homecontact {
  text-align: center;
  background-color: $color-section;
  padding-top: 1rem;

  &__phone {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 1.5rem;
    background-color: $color-logo;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: $color-section;

    &:hover {
      background-color: $color-section;
      color: $color-logo;
      outline: solid 2px $color-logo;
    }
  }

  &__info {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
}

.restaurante {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 24px;
  padding: 24px;
  @media screen and (max-width: $tel) {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  }

  &__presentation {
    width: 60%;
    margin: auto;
    @media screen and (max-width: $tel) {
      width: 100%;
    }

    &--text {
      margin-bottom: 1.5rem;
      text-align: justify;
    }
  }

  &__photo {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 4px 4px 4px grey;

    &:hover {
      @include opacity;
    }
  }
}
