.menu {
  flex: 1;

  &:hover {
    @include opacity;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    @media screen and (max-width: $tel) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__img {
    max-width: 200px;
  }

  &__text {
    line-height: 28px;
    color: $color-text;

    &--presentation {
      width: 60%;
      margin: auto;
      font-size: 20px;
      text-align: justify;
      @media screen and (max-width: $tel) {
        width: 100%;
      }
    }
  }
}
